body {
	padding-top: 100px;
}

.margin-auto {
	margin: 0 auto;
}

a.dropdown-toggle {
	color: #fff;
	text-decoration: none;
}

li.nav-item.dropdown {
	margin: 0 10px;
}

img.product {
	width: 300px;
	height: auto;
}
